<section class="container">
    <div class="space-70"></div>
        <div class="row">
        	<div class="col-xs-12" id="resto_banner">
        		<div class="wrapper wrapper-content" style="padding-bottom: 0;">
	        		<div class="row m-b-lg m-t-lg">
	        			<div class="col-md-6">
		                    <div class="profile-info">
		                        <div class="">
		                            <div>
		                                <h1 class="no-margins">
		                                    <%= @resto_type.RType %>
		                                </h1>
		                                <h4>Choose the best food</h4>
		                                <small>
		                                    There are many variations of passages of Lorem Ipsum available, but the majority
		                                    have suffered alteration in some form Ipsum available.
		                                </small>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		                <div class="col-md-3">
		                    <table class="table small m-b-xs">
		                        <tbody>
		                        <tr>
		                            <td>
		                                <strong>142</strong> Restaurants
		                            </td>
		                            <td>
		                                <strong>25,342</strong> Menus
		                            </td>

		                        </tr>
		                        <tr>
		                            <td>
		                                <strong>61</strong> Likes
		                            </td>
		                            <td>
		                                <strong>54</strong> Reviews
		                            </td>
		                        </tr>
		                        <tr>
		                            <td>
		                                <strong>154</strong> Today's Deliveries
		                            </td>
		                            <td>
		                                <strong>32</strong> Friends
		                            </td>
		                        </tr>
		                        </tbody>
		                    </table>
		                </div>
	        		</div>
        		</div>
        	</div> 
        </div>
</section>