<div id="verify_mobile">
    <div class="col-md-12">
        <%= form_for user, remote: true do |f| %>   
            <fieldset class="form-horizontal">

                <div class="form-group text-center">
                    <label class="col-sm-2 control-label">Mobile:</label>
                    <div class="col-sm-2" style="max-width: 46px;">
                        <input id="country_code" type="tel" class="form-control" maxlength="5" name="">
                        <%= f.hidden_field :area_code, required: "" %>
                    </div>
                    <div class="col-sm-8">
                        <%= f.text_field :mobile_no, class: "form-control", placeholder: "mobile no. without area code", autocomplete: "off", required: "", maxlength: "12" %>
                    </div>
                </div>
                <%= button_tag(type: 'Submit', class: "col-sm-6 col-sm-offset-3 btn btn-warning") do %>
                    <i class="icon-ok icon-white"></i> Send Verification Token
                <% end %> 

            </fieldset>
        <% end %>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#country_code").intlTelInput({
                initialCountry: "ph",
                nationalMode: false,
                preferredCountries: [ "ph" ]
            });
        })  
    </script>

    <script type="text/javascript">
        $(document).ready(function(){
            var mobileNo = $("#user_mobile_no"),
            telInput = $("#country_code"),
            userAreaCode = $("#user_area_code");

            mobileNo.numeric();

            var initialCountry = "+" + telInput.intlTelInput("getSelectedCountryData").dialCode;
            userAreaCode.val(initialCountry);

            $("#country_code").on("countrychange", function() {
                document.getElementById("user_area_code").value = document.getElementById("country_code").value
            });

        })  
    </script>

</div>
