<div id="verify_mobile">    
    <div class="col-md-12">
        <%= form_tag users_verify_path do %>   
            <fieldset class="form-horizontal">

                <div class="form-group text-center">
                    <label class="col-sm-2 control-label">Token:</label>
                    <div class="col-sm-10">
                        <%= text_field_tag :token, '', class: "form-control", placeholder: "verification code",required: "", data: {mask: '9999999'} %>
                    </div>
                </div>
                <%= button_tag(type: 'Submit', class: "col-sm-4 col-sm-offset-4 btn btn-warning") do %>
                    <i class="icon-ok icon-white"></i> Verify
                <% end %> 
                <%= form_tag users_resend_path do %>
                    <button type="submit" class="btn">Resend code</button>
                <% end -%>

            </fieldset>
        <% end %>
    </div>
</div>