<section class="container" style="margin-bottom: 30px;">
	<div class="space-70"></div>
    <div class="row">
        <div class="col-xs-12" id="resto_banner">
        	<div class="wrapper wrapper-content animated fadeInUp" style="padding: 0;">
        		<div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <div class="pull-left m-r-md">
                            <i class="fa fa-info-circle text-navy mid-icon" style="font-size: 66px;"></i>
                        </div>
                        <h2>Know more about us</h2>
                        <span>Lets get to know each other and discoverer the services we offer.</span>
                    </div>
                </div>
                <div class="ibox-content forum-container">
                	<div class="forum-item active">
                        <div class="row">
                            <div class="col-md-11">
                                <div class="forum-icon">
                                    <i class="fa fa-shield"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">Who We Are</a>
                                <div class="forum-sub-title">
                                	We are an online food ordering service that helps customers find 
                                	restaurants in their area, filter by cuisine, browse menus and place 
                                	their orders with an option of online payment or cash on delivery. 
                                	We offer our services through desktops and mobile apps for iPhone, Android, 
                                	iPad and windows. 
                                	<br><br>
                                	Our main aim is to become and remain the market leader in the Davao 
                                	region by diversifying our services portfolio and providing best-in-class customer experience.
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="forum-item active">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="forum-icon">
                                    <i class="fa fa-shield"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">Why Us</a>
                                <div class="forum-sub-title">
                                	bicoys.ph makes it easier for restaurants and customers to conduct business smoothly 
                                	with each other. The benefits of our online restaurant delivery network include:
                                	<br><br>
                                	<div class="row">
                                		<div class="col-lg-6">
                                			<p>
				                                - Easily search for your favorite food by area or cuisine from a wide range 
				                                of restaurants.
				                            </p>         
				                            <p>
				                                - Elimination of phone order misunderstandings arising from communication barriers.
				                            </p>  
				                            <p>
				                                - Rate and review your order experience.
				                            </p>  
				                            <p> - Refine your search by cuisine, delivery area, payment options, offers and more
				                            </p>
                                		</div>
                                		<div class="col-lg-6">
                                			<p>
				                                - Avail exciting promotions and discounts from restaurants near you.
				                            </p>         
				                            <p>
				                                - Place an order for an immediate delivery or schedule for later.
				                            </p> 
				                            <p>
				                                - 24/7 live chat support for any assistance that you may need with your order.
				                            </p>   
				                            <p>
				                                - Browse through food delivery menus complete images and descriptions.
				                            </p> 
                                		</div>
                                	</div>
                                </div>
	                                
                            </div>
                            
                        </div>
                    </div>
                    <div class="forum-item active">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="forum-icon">
                                    <i class="fa fa-shield"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">Quick Facts</a>
                                <div class="forum-sub-title">
                              
                                		<div class="col-lg-3">
							                <div class="widget style1 navy-bg">
						                        <div class="row">
						                            <div class="col-xs-4 text-center">
						                                <i class="fa fa-institution fa-5x" style="color: inherit;"></i>
						                            </div>
						                            <div class="col-xs-8 text-right">
						                                <span> Restaurants </span>
						                                <h2 class="font-bold">345</h2>
						                            </div>
						                        </div>
							                </div>
							            </div>
							            <div class="col-lg-3">
							                <div class="widget style1 navy-bg">
						                        <div class="row">
						                            <div class="col-xs-4 text-center">
						                                <i class="fa fa-motorcycle fa-5x" style="color: inherit;"></i>
						                            </div>
						                            <div class="col-xs-8 text-right">
						                                <span> Daily Orders </span>
						                                <h2 class="font-bold">500+</h2>
						                            </div>
						                        </div>
							                </div>
							            </div>
							            <div class="col-lg-3">
							                <div class="widget style1 navy-bg">
						                        <div class="row">
						                            <div class="col-xs-4 text-center">
						                                <i class="fa fa-mouse-pointer fa-5x" style="color: inherit;"></i>
						                            </div>
						                            <div class="col-xs-8 text-right">
						                                <span> Daily Visits </span>
						                                <h2 class="font-bold">12k +</h2>
						                            </div>
						                        </div>
							                </div>
							            </div>
							            <div class="col-lg-3">
							                <div class="widget style1 navy-bg">
						                        <div class="row">
						                            <div class="col-xs-4 text-center">
						                                <i class="fa fa-users fa-5x" style="color: inherit;"></i>
						                            </div>
						                            <div class="col-xs-8 text-right">
						                                <span> Registered Users </span>
						                                <h2 class="font-bold">50k +</h2>
						                            </div>
						                        </div>
							                </div>
							            </div>
                            
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
        	</div>
        </div>
    </div>
</section>
