<% content_for :dashboard do %>
  <div id="right_menu">Right menu items here</div>
  <%= content_for?(:menus_index) ? yield(:menus_index) : yield %>
<% end %>
<%= render template: "admins/dashboard/index" %>
