<% content_for :dashboard do %>
  <div id="right_menu">Right menu items here</div>
  <%= content_for?(:new_menus) ? yield(:new_menus) : yield %>
<% end %>
<%= render template: "admins/dashboard/index" %>

<div id="page-wrapper" class="gray-bg">
	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-lg-10">
	        <h2 style="margin-top: 20px;">Add New Menu</h2>
	        <ol class="breadcrumb">
	            <li>
	                <a href="index.html">Dashboard</a>
	            </li>
	            <li>
	                <a>Menus</a>
	            </li>
	            <li class="active">
	                <strong>New Menu</strong>
	            </li>
	        </ol>
	    </div>
	</div>
	<%= render 'form' %>
</div>